.delivery .decor {
  height: 3px;
  width: 100%;
  background-image: repeating-linear-gradient(
    45deg,
    #6fa6d6,
    #6fa6d6 33px,
    transparent 0,
    transparent 41px,
    #f18d9b 0,
    #f18d9b 74px,
    transparent 0,
    transparent 82px
  );
}

.table th,
.table td {
  padding: 0.5rem 1.5rem;
  border-color: #eeeeee;
  text-align: center;
}

.table thead th{
  color: #123354;
}

.table tbody tr td {
  padding: 1rem 1.5rem;
  vertical-align: middle;
  align-self: center;
}

.table tbody tr td .media img {
  width: 15%;
  border-radius: 3px;
}

@media (max-width: 600px) {
  .table tbody tr td .media .d-flex img {
    min-width: 75px;
  }
}

.table tbody tr td .media .media-body {
  vertical-align: middle;
  align-self: center;
}

.table tbody tr td h5 {
  font-size: 15px;
  color: var(--black);
  margin-bottom: 0px;
}