:root {
    --primary: #384aeb;
    --black: #222;
    --grey: #777;
    --cream: #f1f6f7;
    --white: #fff;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
h2,
h3 {
    font-family: "Oswald", sans-serif;
}
a {
    transition: 0.3s ease;
}
a:hover {
    color: var(--primary);
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.text-primary{
    color: var(--primary);
}
.navbar-brand {
    font-size: 2rem;
}
.btn {
    padding: 0.5rem 2rem;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    font-weight: 500;
    color: var(--white) !important;
}
.btn:hover {
    background-color: var(--white);
    color: var(--primary) !important;
}
.delete-btn {
    padding: 0.2rem 1rem;
    line-height: 100%;
    border-radius: 5px;
    border: 1px solid #dc3545;
    background-color: #dc3545;
    font-weight: 500;
    color: var(--white) !important;
}
.delete-btn:hover {
    color: #dc3545 !important;
    font-weight: 500;
    background-color: var(--white);
}
.blue-btn{
    padding: 0.2rem 1rem;
    line-height: 100%;
    border-radius: 5px;
    border: 1px solid #0DCAF0;
    background-color: #0DCAF0;
    font-weight: 500;
    color: var(--white);
}
.blue-btn:hover{
    color: #0DCAF0 !important;
    font-weight: 500;
    background-color: var(--white);
}
.gray-btn {
    padding: 0.5rem 2rem;
    background: var(--cream);
    border: 1px solid var(--cream);
    border-radius: 30px;
    color: var(--black);
    text-transform: capitalize;
    font-weight: 500;
}
.gray-btn:hover {
    background: var(--grey);
    color: var(--white);
    transition: all 0.3s;
}
.nav-btn {
    border: 1px solid #ddd;
    background-color: var(--white);
    color: var(--black) !important;
}
.nav-btn:hover {
    border-color: var(--primary);
    color: var(--black);
}
.error {
    border: 1px solid #f44336;
    color: #f44336;
    border-radius: 0.25rem;
    padding: 0.5rem;
}
.fa-star {
    color: #FBD600;
    font-size: 1rem;
}
.form-group {
    margin-bottom: 1rem;
}
.form-group label {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: rgba(147, 159, 173, 0.84);
    line-height: 0.9375rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.loading {
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.loading .spinner-border {
    width: 3rem;
    height: 3rem;
}
.section-intro {
    padding-bottom: 60px;
}
.section-title {
    font-size: 36px;
}
.section-title-style {
    border-bottom: 2px solid var(--primary);
}
.shop-section {
    margin-top: 120px;
    margin-bottom: 50px;
}
.product-img img {
    transition: 0.3s ease;
}
.product-card:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.product-card:hover .product-overlay {
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
}
.product-img {
    overflow: hidden;
}
.product-card:hover .product-img img {
    transform: scale(1.05);
}
.product-icon {
    padding: 7px 12px;
    background-color: #8894ff;
    color: var(--white);
}
.product-icon:hover {
    color: var(--white);
    background-color: var(--primary);
}
.product-info {
    padding: 1.25rem;
}
.product-info-name {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 1.3;
}
.product-price {
    font-size: 18px;
    font-weight: 500;
}
.subscribe-container {
    padding: 85px 10px;
    border-radius: 5px;
    box-shadow: 0 -5px 20px 0 rgb(56, 74, 235, 0.1);
    background-color: var(--white);
}
.subscribe {
    position: relative;
    top: 70px;
}

@media screen and (max-width: 767px) {
    .btn {
        padding: 8px 25px !important;
    }
}
@media screen and (min-width: 991px) {
    .subscribe-title {
        font-size: 36px;
    }
}
