<main>
    <section class="banner">
        <div class="container">
            <div class="row homepage-container align-items-center mb-2">
                <div class="col-5 d-none d-sm-block">
                    <div class="banner-container mx-auto position-relative">
                        <img src="https://preview.colorlib.com/theme/aroma/img/home/xhero-banner.png.pagespeed.ic.Da3KtaVoQv.webp"
                            alt="banner">
                    </div>
                </div>
                <div class="banner-info col-sm-7 col-lg-6 offset-lg-1 ps-5 ps-sm-4 ps-md-5 ps-lg-0">
                    <h4 class="mb-3 fw-normal homepage-pretitle">Shop is fun</h4>
                    <h1 class="homepage-title text-uppercase mb-2 fw-bold text-uppercase">Browse our permium product
                    </h1>
                    <p class="homepage-describe">Us which over of signs divide dominion deep fill bring they're meat
                        beho upon own earth without morning over third. Their male dry. They are great appear whose land
                        fly grass.</p>
                    <a href="" class="btn rounded-pill">Browse now</a>
                </div>
            </div>
        </div>
    </section>
    <section class="homepage-section mt-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 ps-1 pe-1">
                    <div class="showcase-img">
                        <img src="https://preview.colorlib.com/theme/aroma/img/home/hero-slide1.png.webp" alt="">
                    </div>
                </div>
                <div class="col-sm-4 ps-1 pe-1">
                    <div class="showcase-img">
                        <img src="https://preview.colorlib.com/theme/aroma/img/home/hero-slide2.png.webp" alt="">
                    </div>
                </div>
                <div class="col-sm-4 ps-1 pe-1">
                    <div class="showcase-img">
                        <img src="https://preview.colorlib.com/theme/aroma/img/home/hero-slide3.png.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="homepage-section">
        <div class="container">
            <div class="section-intro">
                <p class="mb-1">Popular Item in the market</p>
                <h2 class="section-title fw-bold mb-2">Trending <span class="section-title-style pb-2">Product</span>
                </h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="product-card text-center mb-4">
                        <div class="product-img position-relative">
                            <img src="https://preview.colorlib.com/theme/aroma/img/product/xproduct1.png.pagespeed.ic.pmQVLonzrK.webp"
                                alt="">
                            <ul class="product-overlay text-center d-flex justify-content-center">
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-search"></i>
                                    </a>
                                </li>
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-cart3"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="product-info">
                            <p>Accessories</p>
                            <a href="#" class="product-info-name mb-2">Quartz Belt Watch</a>
                            <p class="product-price">$150.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="product-card text-center mb-4">
                        <div class="product-img position-relative">
                            <img src="https://preview.colorlib.com/theme/aroma/img/product/xproduct2.png.pagespeed.ic.lRueW1Al-k.webp"
                                alt="">
                            <ul class="product-overlay text-center d-flex justify-content-center">
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-search"></i>
                                    </a>
                                </li>
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-cart3"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="product-info">
                            <p>Beauty</p>
                            <a href="#" class="product-info-name mb-2">Women Freshwash</a>
                            <p class="product-price">$150.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="product-card text-center mb-4">
                        <div class="product-img position-relative">
                            <img src="https://preview.colorlib.com/theme/aroma/img/product/xproduct3.png.pagespeed.ic.hMsbqCptb9.webp"
                                alt="">
                            <ul class="product-overlay text-center d-flex justify-content-center">
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-search"></i>
                                    </a>
                                </li>
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-cart3"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="product-info">
                            <p>Decor</p>
                            <a href="#" class="product-info-name mb-2">Room Flash Light</a>
                            <p class="product-price">$150.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="product-card text-center mb-4">
                        <div class="product-img position-relative">
                            <img src="https://preview.colorlib.com/theme/aroma/img/product/xproduct4.png.pagespeed.ic.mDB8Vfynfi.webp"
                                alt="">
                            <ul class="product-overlay text-center d-flex justify-content-center">
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-search"></i>
                                    </a>
                                </li>
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-cart3"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="product-info">
                            <p>Decor</p>
                            <a href="#" class="product-info-name mb-2">Room Flash Light</a>
                            <p class="product-price">$150.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="product-card text-center mb-4">
                        <div class="product-img position-relative">
                            <img src="https://preview.colorlib.com/theme/aroma/img/product/xproduct5.png.pagespeed.ic.7UhfPGdJGx.webp"
                                alt="">
                            <ul class="product-overlay text-center d-flex justify-content-center">
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-search"></i>
                                    </a>
                                </li>
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-cart3"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="product-info">
                            <p>Accessories</p>
                            <a href="#" class="product-info-name mb-2">Man Office Bag</a>
                            <p class="product-price">$150.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="product-card text-center mb-4">
                        <div class="product-img position-relative">
                            <img src="https://preview.colorlib.com/theme/aroma/img/product/xproduct6.png.pagespeed.ic.45QJKFIkMm.webp"
                                alt="">
                            <ul class="product-overlay text-center d-flex justify-content-center">
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-search"></i>
                                    </a>
                                </li>
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-cart3"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="product-info">
                            <p>Kids Toy</p>
                            <a href="#" class="product-info-name mb-2">Charging car</a>
                            <p class="product-price">$150.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="product-card text-center mb-4">
                        <div class="product-img position-relative">
                            <img src="https://preview.colorlib.com/theme/aroma/img/product/xproduct7.png.pagespeed.ic.7VoqXi8Ed6.webp"
                                alt="">
                            <ul class="product-overlay text-center d-flex justify-content-center">
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-search"></i>
                                    </a>
                                </li>
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-cart3"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="product-info">
                            <p>Accessories</p>
                            <a href="#" class="product-info-name mb-2">Bluetooth Speaker</a>
                            <p class="product-price">$150.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="product-card text-center mb-4">
                        <div class="product-img position-relative">
                            <img src="https://preview.colorlib.com/theme/aroma/img/product/xproduct8.png.pagespeed.ic.L7wDN2EveI.webp"
                                alt="">
                            <ul class="product-overlay text-center d-flex justify-content-center">
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-search"></i>
                                    </a>
                                </li>
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-cart3"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="product-info">
                            <p>Kids Toy</p>
                            <a href="#" class="product-info-name mb-2">Charging car</a>
                            <p class="product-price">$150.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="homepage-offer">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 col-xl-5">
                    <div class="offer-info text-center">
                        <h2 class="offer-title mb-4">Up To 50% Off</h2>
                        <h3 class="mb-2">Winter Sale</h3>
                        <p class="mb-3">Him she'd let them sixth saw light</p>
                        <a href="#" class="btn rounded-pill mt-4">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="homepage-section mb-0">
        <div class="container">
            <div class="section-intro">
                <p class="mb-1">Popular Item in the market</p>
                <h2 class="section-title fw-bold mb-2">Best <span class="section-title-style pb-2">Seller</span></h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="product-card text-center mb-4">
                        <div class="product-img position-relative">
                            <img src="https://preview.colorlib.com/theme/aroma/img/product/xproduct1.png.pagespeed.ic.pmQVLonzrK.webp"
                                alt="">
                            <ul class="product-overlay text-center d-flex justify-content-center">
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-search"></i>
                                    </a>
                                </li>
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-cart3"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="product-info">
                            <p>Accessories</p>
                            <a href="#" class="product-info-name mb-2">Quartz Belt Watch</a>
                            <p class="product-price">$150.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="product-card text-center mb-4">
                        <div class="product-img position-relative">
                            <img src="https://preview.colorlib.com/theme/aroma/img/product/xproduct2.png.pagespeed.ic.lRueW1Al-k.webp"
                                alt="">
                            <ul class="product-overlay text-center d-flex justify-content-center">
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-search"></i>
                                    </a>
                                </li>
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-cart3"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="product-info">
                            <p>Beauty</p>
                            <a href="#" class="product-info-name mb-2">Women Freshwash</a>
                            <p class="product-price">$150.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="product-card text-center mb-4">
                        <div class="product-img position-relative">
                            <img src="https://preview.colorlib.com/theme/aroma/img/product/xproduct3.png.pagespeed.ic.hMsbqCptb9.webp"
                                alt="">
                            <ul class="product-overlay text-center d-flex justify-content-center">
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-search"></i>
                                    </a>
                                </li>
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-cart3"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="product-info">
                            <p>Decor</p>
                            <a href="#" class="product-info-name mb-2">Room Flash Light</a>
                            <p class="product-price">$150.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="product-card text-center mb-4">
                        <div class="product-img position-relative">
                            <img src="https://preview.colorlib.com/theme/aroma/img/product/xproduct4.png.pagespeed.ic.mDB8Vfynfi.webp"
                                alt="">
                            <ul class="product-overlay text-center d-flex justify-content-center">
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-search"></i>
                                    </a>
                                </li>
                                <li class="me-1">
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-cart3"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="product-icon">
                                        <i class="bi bi-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="product-info">
                            <p>Decor</p>
                            <a href="#" class="product-info-name mb-2">Room Flash Light</a>
                            <p class="product-price">$150.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="subscribe">
        <div class="container">
            <div class="subscribe-container text-center">
                <h3 class="subscribe-title text-uppercase mb-3">GET UPDATE FROM ANYWHERE</h3>
                <p class="mb-3">Bearing Void gathering light light his eavening unto dont afraid</p>
                <form class="mt-5 pt-1">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-6 col-lg-3">
                            <input type="email" placeholder="Your Email Address"
                                class="input-subscribe rounded-pill form-control mb-3 h-100 py-2 px-3">
                        </div>
                        <div class="col-auto">
                            <button class="btn rounded-pill mb-3">Subscribe Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<script type="application/javascript">
    console.log('home page here')
</script>